# Python
__pycache__/
*.py[cod]
*.pyo
.mypy_cache/
.pytest_cache/

# Виртуальное окружение
venv/
env/
.venv/

# Django
*.sqlite3
media/
staticfiles/

# Секреты
.env
local_settings.py

# Покрытие тестов
.coverage
htmlcov/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Логи
*.log

# Архивы
*.zip
*.tar.gz
