asgiref==3.11.1
click==8.4.1
colorama==0.4.6
cssbeautifier==1.15.4
Django==6.0.5
django-extensions==4.1
django-taggit==6.1.0
django-unfold==0.97.0
djlint==1.39.0
EditorConfig==0.17.1
jsbeautifier==1.15.4
json5==0.14.0
Markdown==3.10.2
nh3==0.3.5
pathspec==1.1.1
pymdown-extensions==10.21.3
python-decouple==3.8
PyYAML==6.0.3
regex==2026.5.9
six==1.17.0
sqlparse==0.5.5
tqdm==4.68.2
tzdata==2026.2
